.presentation__me{
    margin: 60px 120px;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(63, 61, 61);
    display: flex;
    justify-content: center;
    text-align: center;
    

}