* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .places,
  .aboutme,
  .contact,
  .abraxas_photo,
  .carousel,
  .hopital_photo,
  .zielona_photo,
  .cemetery_photo,
  .senchal_photo,
  .epernon_photo {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .places {
   background-image: url('./images/szpital.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .aboutme {
    background-image: url('./images/ja.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .abraxas_photo {
    background-image: url('./images/complex1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    font-size: 50px;
    margin: 10px 40px;
  }

  .hopital_photo {
    background-image: url('./images/szpital.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    font-size: 50px;
    margin: 10px 40px;
  }

  .zielona_photo{
    background-image: url('./images/zielona.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    font-size: 50px;
    margin: 10px 40px;
  }

  .cemetery_photo{
    background-image: url('./images/pereLachaise.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    font-size: 50px;
    margin: 10px 40px;
  }

  .senchal_photo{
    background-image: url('./images/manu.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    font-size: 50px;
    margin: 10px 40px;
  }

  .epernon_photo{
    background-image: url('./images/popkow1.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(37, 34, 34);
    font-size: 50px;
    margin: 10px 40px;
  }
  
  .contact {
    background-image: url('./images/abandVille.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .carousel {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
  
  }
  
  body {
    margin: 0;
    padding: 0;
  }